html{
    direction: rtl;
    background-color: #81C784;
}

.header{
    direction: rtl;
    max-width: 97%;
    margin: auto;
    font-family: Helvetica, sans-serif, Arial;
    padding: 1%;
    background-color: rgba(0, 50, 50, .8);
    font-size: 130%;
    border-radius: 3%;
    left: 0%;
    right: 0%;
    color: aqua;
}

.header a{
    color: rosybrown;
}

.all{
    margin: auto;
    width: 80%;
    text-align: center;
}

h1{
    direction: rtl;
    font-family: Helvetica, sans-serif, Arial;
}

.nextEvent{
    direction: rtl;
    border-radius: 3%;
    font-family: Helvetica, sans-serif, Arial;
    padding: 4%;
    padding-bottom: 2%;
    background-color: rgba(0, 50, 50, .4);
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

img {
    width: 90%;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  

.samples{
    left:auto;
    right: auto;
    text-align: center;
    padding: 7%;
}

.footer{
    padding: 3%;
}